<div class="posts">

  <div id="new_post_button">
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </div>

  <% @posts.reverse_each do |post| %>
  <section class="post">
  <div class='single post' >
  <div class="user">
  <div class="avatar">
    <% if post.user.avatar.attached? %>
      <img class="img-thumbnail rounded-circle" src="<%=(url_for(post.user.avatar))%>" />
    <% end %>
  </div>
  <div class="username">
     <%= post.user.username %>
    </div>
    </div>
    <div class="post_message">
    <p><%= post.message %></p>
    </div>
    <div class="post_image">
      <% if post.image.attached? %>
        <img src="<%=(url_for(post.image))%>"
        width="400" 
        height="400"/>
        <%# could maybe do with a better resizing option %>
        <%# resize before it goes into storage? %>
        <%# portrait vs landscape?? %>
      <% end %>
    </div>
    </section>
  <% end %>
</div>
