<div class="posts">

  <div id="new_post_button">
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </div>

  <% @posts.reverse_each do |post| %>
  <section class="post">
  <div class='single post' >
  <div class="user">
  <div class="avatar">
    <% if post.user.avatar.attached? %>
      <img class="img-thumbnail rounded-circle" src="<%=(url_for(post.user.avatar))%>" />
    <% end %>
  </div>
  <div class="username">
     <%= post.user.username %>
    </div>
    </div>
    <div class="post_message">
    <p><%= post.message %></p>
    </div>
      <% if post.image.attached? %>
        <img class='post_image' src="<%=(url_for(post.image))%>"/>
      <% end %>
    </section>
  <% end %>
</div>
