<div class="posts">
  <div id="new_post_button">
    <%= link_to new_post_path, class:"btn btn-primary" do %>
      New post
    <% end %>
  </div>

  <% @posts.reverse_each do |post| %>
  <div class='post' id='<%= post.id %>'>
    <div class="user">
      <div class="avatar">
        <% if post.user.avatar.attached? %>
          <img class="img-thumbnail rounded-circle" src="<%=(url_for(post.user.avatar))%>" />
        <% end %>
      </div>
      <div class="username">
       <%= post.user.username %>
      </div>
    </div>
    <div class="post_message">
      <p class='post-content'><%= post.message %></p>
    </div>
    <% post.images.each do |image| %>
    <img src="<%=(url_for(image))%>" class="post_image post-images"/>
    <% end %>
    <div class='likes'>Likes: <%= post.likes.count %></div>
    <%= button_to 'Like', post_likes_path(post.id), method: :post ,id: "ID#{post.id}", class:'btn btn-primary like-button'%>
    <br>
  </div>
  <% end %>
</div>
